@import url(https://fonts.googleapis.com/css?family=Raleway:200,300);

/*
 * General
 */

body {
    background-color: #ecf0f1;
    color: #2d3c49;
}

/*
 * Header
 */

header {
    border-bottom: 2px solid #7d97ad;
    overflow: auto;
}

.logo {
    height: 4em;
    width: 4em;
    vertical-align: middle;
}

.header-name {
    float: right;
    margin-bottom: 1em;
}

h1, h4 {
    font-family: Raleway, Arial, sans-serif;
    margin: 0;
}

h1 {
    font-weight: 200;
}

h4 {
    font-weight: 300;
    margin-left: auto;
    margin-right: 0;
}

.text-caps {
    text-transform: uppercase;
}

/*
 * Main
 */

.main {
    max-width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.project-image {
    max-width: 100%;
}

.project-description {
    max-width: 100%;
}
